*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
body {
	margin: 50px auto;
	width: 960px;
}
.title {
	margin: 15px 0 5px;
}
.title-image1 {
	height: 150px;
	background-image: url(img/japan.jpg);
	background-size: cover;
	background-position: bottom;
}
.title-image2 {
	height: 150px;
	background-image: url(img/asia.jpg);
	background-size: cover;
	background-position: bottom;
}
.title-image3 {
	height: 150px;
	background-image: url(img/airport.jpg);
	background-size: cover;
	background-position: bottom;
}
.title-num1 {
	position: absolute;
	top: 0;
	left: 0;
	background-color: orange;
	text-align: center;
	color: white;
	padding: 3px;
}
.title-num2 {
	position: absolute;
	top: 0;
	left: 0;
	background-color: orange;
	text-align: center;
	color: white;
	padding: 3px;
}
.title-num3 {
	position: absolute;
	top: 0;
	left: 0;
	background-color: orange;
	text-align: center;
	color: white;
	padding: 3px;
}
.title1, .title2, .title3 {
	position: relative;
	float: left;
	padding: 10px;
	border: 1px solid #eee;
}
.title1 {
	margin-right: 5%;
}
.title2 {
	margin-right: 5%;
}

@media screen and (max-width:768px) {
	.title {
		width: 90%;
	}
	.title-image1, .title-image2, .title-image3 {
		width: 100%;
	}
	.title1 {
		float: none;
		margin-bottom: 20px;
	}
	.title2 {
		float: none;
		margin-bottom: 20px;
	}
	.title3 {
		float: none;
	}
}






